
header{
  text-align: center;
  font-size: 20px;
  border-bottom: 2px solid #ccc;
  padding: 20px 0;
}

nav * {
    display: inline;
}

body {
  background-color: #121212;
  color: #a0a0a0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 25px;
}

h1, h2, h3, h4, h5, h6, b {
  color: white;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: #bb86fc;
}


section {
  border-bottom: 2px solid #ccc;
  padding: 20px 0;
}

.main-logo{
  margin-left:300%;
}

/* Main */

#wrapper-main-section{
  text-align: center;
}

#wrapper-photo{
  width: 128px;
  margin-bottom: 10px;
}