header{
	height: 2rem;
	text-align: center;
	font-size: 20px;
	border-bottom: 2px solid #ccc;
	padding: 20px 0;
  	position: sticky;
  	top: 0;
  	z-index: 1000;
  	background-color: #121212;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
}

nav * {
  	display: inline;
}

nav {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

body {
	background-color: #121212;
	color: #a0a0a0;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 25px;
}

h1{
  	margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, b {
	color: white;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: #bb86fc;
}


section {
	padding: 20px 0;
}


.smooth-rectangle {
  	color: #ccc;
  	padding: 1rem;
  	background-color: #4a008f;
  	border-radius: 20px;
}

.smooth-rectangle:hover{
  	background-color: #400478;
  	color: #ccc;
}

footer{
	background: #121212;
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	gap: 4rem;
	font-size: 15px;
}

footer a:hover{
	filter: blur(2px);
}

footer img{
	display: block;
	width: 25px;
	height: 25px;
}

footer p{
	margin: 0;
	line-height: 1;
	position: relative;
	top: 5px;

}

.footer-logo{
	font-size: 25px;
	display: flex;
	align-items: center;
	gap: 0.4rem;
	line-height: 1;
}

.footer-logo img{
	width: 25px;
	height: 25px;
}

.tech-logo{
	width: 7rem;
	height: 7rem;
}

.qt-logo {
	height: 7rem !important;
	width: 10rem !important;
}



/* Wrappers */

#wrapper-main-section{
	padding-top: 3rem;
	padding-bottom: 5rem;
	font-size: 30px;
	text-align: center;
}

#wrapper-main-section-media{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
}

#wrapper-deskup-description-section{
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-left: 35%;
	padding-right: 40rem;
	text-align: left;
	width: 30rem;
}

#wrapper-deskup-description-section p{
	min-width: 300px;
}

#wrapper-open-source-description-section{
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	text-align: left;
	min-width: 50px;
}

#wrapper-tech-stack{
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#wrapper-tech-stack a{
	filter: grayscale(100%);
	transition: filter 0.8s ease;
}

#wrapper-tech-stack a:hover{
	filter: grayscale(0%);
}

#wrapper-open-source-description-section p{
	padding-top: 0;
	text-align:center;
	width: 30rem;
}

#wrapper-open-source-description-section-interactive{
	flex-direction: row;
	display: flex;
	gap: 1rem;
}

#wrapper-photo{
	width: 128px;
	margin-bottom: 10px;
}


